.hidden {
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
}
/*common*/

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;  
    }
}

/*header*/

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list, 
.contacts {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.header-logo .logo-part {
    font-family: "Raleway", sans-serif;
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}
.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
            display: none;
        }
    .nav-list {
            display: flex;
            align-items: center;
            gap: 40px;
            position: relative;
        }
    
    .header-nav {
        display: flex;
        align-items: center;
    }
    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
        }
    .nav-link {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    .nav-link.current {
        position: relative;
        }
    .nav-link.current::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
        }
    
    .contacts {
        font-style: normal;
        display: block;
        }

    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        }

    .contacts-link {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

    .nav-link:hover,
    .nav-link:focus,
    .contacts-link:hover,
    .contacts-link:focus,
    .nav-link.current {
        color: #404bbf;
        }
    }

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
        }
    .contacts-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
        }
    .contacts-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        }
}


/* mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/*first section*/
.first-section {
padding-top: 72px;
padding-bottom: 72px;
max-width: 320px;
min-height: 432px;
margin: auto;
background-color: #2e2f42;
background-image:
linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-image-mobile.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
.first-section {
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-image-mobile@2x.jpg) ;
    }
}

@media screen and (min-width: 768px) {
.first-section {
padding-top: 188px;
padding-bottom: 188px;
max-width: 1440px;
min-height: 600px;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-image-tablet.jpg);
    }
}

@media screen and (min-width:768px) and (min-resolution: 192dpi) {
.first-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-image-tablet@2x.jpg);
}
}

@media screen and (min-width: 1158px) {
.first-section {
padding-top: 112px;
padding-bottom: 112px;
max-width: 768px;
min-height: 436px;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-image.jpg);
        }
}

@media screen and (min-width: 1200px) and (min-resolution: 192dpi) {
.first-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-image@2x.jpg);
}
}

.header-one {
    margin: auto;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}

.first-section-button {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    text-align: center;
    border: none;
    background-color: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-section-button:hover,
.first-section-button:focus {
    background-color: #404bbf;
}

/*second section. benefits*/

.second-section {
    padding-top: 96px;
    padding-bottom: 96px;

}
.container {
    max-width: 318px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;

}
.nav-second-section {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
}

.box {
    display: none;
}

.header-three {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
}
.p-second-section {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@media screen and (min-width: 768px){
    .container {
        max-width: 766px;
    }

    .container-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-second-section {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
    }

    .li-item {
        width: calc((100% - 24px) / 2);
    }
    .header-three {
        text-align: left;
    }
}
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }
    .li-item {
            width: calc((100% - 72px) / 4);
        }
    .box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 264px;
        height: 112px;
        margin-bottom: 8px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
    }
    .box:last-child {
        margin-right: 0;
        }
    .second-section {
        padding: 120px 0;
        }
    .nav-second-section {
        gap: 24px;
        justify-content: center;
        }
    .header-three {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            text-align: left;
        }
    .p-second-section {
            font-weight: 400;
    }
}

/* Third section. Our Team */

.nav-list-third-section {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 72px;
}


.text-box {
    padding: 32px 0;
}
.third-section {
    background-color: #f4f4fd;
    padding-bottom: 96px;
    padding-top: 96px;
}
.header-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    /*для визначення стилю написання тексту */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}
.our-team-item {
    
    background-color: #fff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    fill: #4d5ae5;
    width: 264px;
    
    
}

@media screen and (min-width: 768px) {
    .our-team-item {
        width: calc((100% - 48px) / 2);
        /* 2 картки у рядок */
        justify-content: space-between;
    }
}

.header-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.p-third-section {
    margin-bottom: 8px;
    text-align: center;
    color: #434455;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-list-link {
    display: flex;
    line-height: 0;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    gap: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: #404bbf;
}

.social-list-icon {
    fill: #f4f4fd;
    width: 16px;
    height: 16px;
}