.header-container {
    display: flex;
    align-items: center;
}


    

    /*first section*/
    

    .header-one {
        margin: auto;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 496px;
        margin-bottom: 48px;
        margin-left: auto;
        margin-right: auto;
    }
    .first-section-button {
        display: block;
        margin: 0 auto;
        min-width: 169px;
        height: 56px;
        text-align: center;
        border: none;
        background-color: #4d5ae5;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        cursor: pointer;
        border-radius: 4px;
        padding: 16px 32px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.first-section-button:hover,
.first-section-button:focus {
    background-color: #404bbf;
}

    /*second section*/



    /*third section*/


          .our-team-item {         
             width: calc((100% - 72px) / 4);
          gap: 24px;{}

.nav-list-third-section {
    display: flex;
    gap: 24px;
}
.text-box {
    padding: 32px 0;
}
.third-section {
    background-color:#f4f4fd;
    padding-bottom: 120px;
    padding-top: 120px;
}
.header-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize; /*для визначення стилю написання тексту */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}
.our-team-item {
    background-color:#fff;
    width: calc((100% - 72px) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    fill: #4d5ae5;
    gap: 24px;
}
.header-team {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
}
.p-third-section {
    margin-bottom: 8px;
    text-align: center;
    color: #434455;
}
.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.social-list-link {
    display: flex;
    line-height: 0;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    gap: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover, 
.social-list-link:focus {
    background-color: #404bbf;
}

.social-list-icon {
    fill: #f4f4fd;
    width: 16px;
    height: 16px;
}

    /*fourth section same as previous*/
    

    .our-portfolio-item {
        width: calc((100% - 48px) / 3);
    }

    .header-four {
        margin-bottom: 8px;
        text-align: left;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;

    }
    .portfolio-box {
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
        /* для скидання стилів обводки для верхнього краю контейнера */
        }
        .portfolio-img-wrapper{
            position: relative;
            overflow: hidden;
        }
    .portfolio-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%; 
        background-color:#4d5ae5;
        overflow: hidden;
        padding: 40px 32px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


/*footer*/


/*мeіл та підписка*/
.feedback {
    margin-left: 80px;
}


.pole {
    display: flex;
    gap: 24px;
}
















